{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Favicon section -->
        <link rel="apple-touch-icon" sizes="57x57" href="{% static "favicons/apple-icon-57x57.png"%}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static "favicons/apple-icon-60x60.png"%}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static "favicons/apple-icon-72x72.png"%}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicons/apple-icon-76x76.png"%}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static "favicons/apple-icon-114x114.png"%}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static "favicons/apple-icon-120x120.png"%}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static "favicons/apple-icon-144x144.png"%}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static "favicons/apple-icon-152x152.png"%}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicons/apple-icon-180x180.png"%}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static "favicons/android-icon-192x192.png"%}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicons/favicon-32x32.png"%}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static "favicons/favicon-96x96.png"%}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicons/favicon-16x16.png"%}">
        <link rel="manifest" href="{% static "favicons/manifest.json"%}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static "favicons/ms-icon-144x144.png"%}">
        <meta name="theme-color" content="#ffffff">

        <!-- Bulma-related imports -->
        <link rel="stylesheet" type="text/css" href="{% static "css/bulma.css" %}"/>

        <!-- Other head stuff can go here -->
        {% block head %}
        {% endblock %}

        <!-- Metatags -->
        <title>Lemonsaurus!</title>

        <meta charset="UTF-8">
        <meta name="description" content="The personal website of Leon Sandøy">
        <meta name="keywords" content="Python, YouTube, Discord, Leon, Sandøy, Lemonsaurus">
        <meta name="author" content="Leon Sandøy">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:type" content="website">
        <meta property="og:title" content="Lemonsaurus!" />
        <meta property="og:description" content="The personal website of Leon Sandøy" />
        <meta property="og:url" content="https://lemonsaur.us" />
        <meta property="og:image" content="{% static 'images/meta_thumbnail.png' %}" />
    </head>

    <body>
        <!-- For now, we can just add the nav here -->
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="{% static brand %}">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarItems">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div id="navbarItems" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" target="_blank" href="https://www.youtube.com/channel/UCs9yhbwxkAGzPC4Tw7aMqwA">
                <img src="{% static "images/navbar/YouTube.png" %}">
              </a>
              <a class="navbar-item" target="_blank" href="https://github.com/lemonsaurus">
                <img src="{% static "images/navbar/GitHub.png" %}">
              </a>
              <a class="navbar-item" target="_blank" href="https://linkedin.com/in/lemonsaurus">
                <img src="{% static "images/navbar/LinkedIn.png" %}">
              </a>
              <a class="navbar-item" target="_blank" href="https://pythondiscord.com">
                <img src="{% static "images/navbar/Discord.png" %}">
              </a>
            </div>
          </div>
        </nav>

        {% block body %} {% endblock %}
    </body>
</html>
