{% extends "main/base.html" %}
{% load static %}

{% block head %}
  <script>
      var portrait_components = {{ components }}
  </script>
  <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
{% endblock %}

{% block body %}
  <!-- Background shadow stuff -->
  <div class="shade-container">
    <div class="shade-curve"></div>
    <div class="shade-box"></div>
  </div>

  <!-- Portrait container -->
  <div class="portrait-container">

    <!-- Portrait -->
    <div class="container noselect portrait"></div>

    <!-- Menu with customization options -->
    <div class="container noselect menu">
      {% for n in '0123'|make_list %}
        <div class="row">
          <img class="arrow" id="left-arrow-{{ n }}" src="{% static "images/customize_menu/arrow_left.png"%}">
          <p id="customize-option-{{ n }}"></p>
          <img class="arrow" id="right-arrow-{{ n }}"  src="{% static "images/customize_menu/arrow_right.png"%}">
        </div>
      {% endfor %}
      <div class="row">
          <img class="done-button" src="{% static "images/customize_menu/done.png" %}">
      </div>
    </div>
  </div>

  <script src="{% static "js/main.js" %}"></script>
{% endblock %}
