[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django = "*"
whitenoise = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"

[scripts]
start          = "gunicorn --preload -b 0.0.0.0:8002 lemonsaurus.wsgi:application --threads 8 -w 4"
lint           = "python -m flake8"
makemigrations = "python manage.py makemigrations"
showmigrations = "python manage.py showmigrations"
migrate        = "python manage.py migrate"
test           = "python manage.py test"
build          = "docker build -t heavysaturn/lemonsaurus:latest -f docker/lemonsaurus.Dockerfile ."
push           = "docker push heavysaturn/lemonsaurus:latest"
