html {
    background-image: url("bg_lemons_blurred.png");
    background-repeat: repeat;
    background-size: 11em;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Hamburger should proceed directly below nav */
#navbarItems {
    padding: 0;
}

/* Give the nav a bit of padding */
nav.navbar {
    padding: 0.5em 0 0.5em 0;
}

/* Smaller navbar items */
.navbar-item img{
    max-height: 3.0rem;
}

/* Add more space between items */
a.navbar-item {
    margin-right: 2em;
}

/* Dynamic portrait */
div.portrait-container {
    display: flex;
}

div.portrait {
    background-repeat: no-repeat;
    cursor:pointer;
    text-align: center;
    padding-top: 2%;
    width: 26em;
    height: 40em;
}

/* Customization menu */
div.menu {
    display: none;
    text-align: center;
    padding-top: 8em;
    flex-direction: column;
    width: 29em;
    height: 27em;
    background: url('../images/customize_menu/customize.png') no-repeat center;
    margin-left: 20%;
}
div.menu .row {
    display: flex;
    justify-content: center;
    margin-bottom:1em;
}
div.menu .row p {
    margin-left: auto;
    margin-right: auto;
    color: #fffeb5;
}
img.done-button {
    margin-top: 0.5em;
}

/* Arrows */
img.arrow,
img.done-button {
    cursor: pointer;
    filter: brightness(87.5%);
}
img.arrow:hover,
img.done-button:hover {
    filter: brightness(105%);
}
img.arrow.right {
    margin-right: 4em;
}
img.arrow.left {
    margin-left: 4em;
}

/* Background shade stuff */
.shade-container {
    display: flex;
    position: absolute;
    left: -1539px;
    right: 0px;
    top: -28px;
}

.shade-box {
    background-color: black;
    height: 10000px;
    opacity: 18%;
}

.shade-curve {
    background-color: black;
    height: 10000px;
    width: 100%;
    border-top-left-radius: 80%;
    opacity: 18%;
    box-shadow: 0 0 20px 20px black;
}


@media only screen and (max-width: 1088px) {
    .shade-container {
        visibility: hidden;
    }

    a.navbar-item {
        margin-right: 0em;
    }

    div.portrait.customizing {
        display: none;
    }

    div.menu {
        margin-left: auto;
    }
}

/* Don't allow drag selection */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* No color change when hovering burger */
.navbar-burger:hover {
    color: #fffeb5;
    background-color: #343434;
}

/* Make the burger fatter */
.navbar-burger {
    width: 5.5em;
    height: auto;
}
.navbar-burger span {
    height: 0.5em;
    width: 3em;
    left: calc(50% - 1.5em);
}
.navbar-burger span:hover {
    height: 0.5em;
    width: 3em;
    left: calc(50% - 1.5em);
}
.navbar-burger span:nth-child(1) {
    top: calc(50% - 1em);
}
.navbar-burger span:nth-child(2) {
    top: calc(50%);
}
.navbar-burger span:nth-child(3) {
    top: calc(50% + 1em);
}
.navbar-burger span:nth-child(4) {
    visibility: hidden;
}
.navbar-burger.is-active span:nth-child(1) {
    transform: translateY(1em) rotate(45deg);
}
.navbar-burger.is-active span:nth-child(3) {
    transform: translateY(-1em) rotate(-45deg);
}
