html {
    background-image: url("bg_lemons_blurred.png");
    background-repeat: repeat;
    background-size: 8%;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Hamburger should proceed directly below nav */
#navbarItems {
    padding: 0;
}

/* Hamburger should be centered */
.navbar-burger {
    height: auto;
}

/* Add more space between items */
a.navbar-item {
    margin-right: 2em;
}

body .container {
    text-align: center;
    padding-top: 2%;
}

body .container img {
    width: 25%;
}
