html {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Hamburger should proceed directly below nav */
#navbarItems {
    padding: 0;
}

/* Hamburger should be centered */
.navbar-burger {
    height: auto;
}

/* Add more space between items */
a.navbar-item {
    margin-right: 2em;
}

body .container {
    text-align: center;
    padding-top: 2%;
}

